@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body :lang(ja) {
  font-family: "Sawarabi Gothic", "Noto Serif JP", Arial, Helvetica, sans-serif;
}

/* 配色テーマ：Mint & Teal */
/* const themeMintTeal = {
  background: 'bg-[#EAF1EB]',
  headerText: 'text-[#2C5D47]',
  navBg: 'bg-[#A6C3B9]',
  navText: 'text-white',
  footerBg: 'bg-[#2C5D47]',
  footerText: 'text-white',
  cardBg: 'bg-white',
  buttonBg: 'bg-[#4A7B67]',
  buttonText: 'text-white'
}; */
